body{
    background-color: #413543;
    text-align: center;
}

h1{
    margin: 0px;
    font-size: 3.5rem;
    font-family: 'Kalam', cursive;
    color:white;
    font-weight:bold;
    line-height: 2;
}


h2{
    padding: 20px 0px;
    font-size: 2rem;
    font-family: 'Montserrat',sans-serif;
    color:white;
    font-weight: bold;
}

h3{
    text-align: left;
    color:#802124;
    font-size: 1.5rem;
    font-family: 'Montserrat',sans-serif;
    color:#802124;
    font-weight: bold;
}

.bio{
    text-align: left;
    width: 60%;
    margin: 50px 200px;
    padding: 10px 80px;
    font-size: 1.3rem;
    font-family: 'Montserrat',sans-serif;
    font-weight: normal;
    color: white;
    line-height: 35px;
}

.name{
    background-color: #f9e5cd;
    margin: auto;
    padding-top: 100px;


}

#mychart{
    padding: 80px 30px;
    margin: auto 20px;
}

hr{
    border: dotted #bba4bf 7px;
    border-bottom: none;
    width: 15%;
    margin: 50px auto;


}

.itemset{
    padding: 80px 30px;
    margin: 100px 100px;
}
.middle{
    padding: 80px 30px;
    margin: auto 20px;
}

.bottom{
    margin: 10px auto 0 auto;
    background-color: #f9e5cd ;
    padding: 30px 0 5px;

}

.bottom-cloud{
    position: absolute;
    top: 280px;
    left: 310px;

}

.top-cloud{
    position: absolute;
    top: 50px;
    left: 810px;
}

.skill-row{
    margin: 50px auto 50px auto;
    width: 50%;
    text-align: left;
    line-height: 1.5;

}
.comp-img{
    width: 25%;
    float: left; /*Float is used to float the img to the left of any element*/
    position: relative; /*The below 2 lines for giving space b/w comp-img and paragraph*/
    right: 30px;

}

.chilli-img{
    width: 28%;
    float: right;
    margin-right: 30px;/*this property can also be used to give space b/w img and text or any element*/
}

.contact-text{
    width: 30%;
    margin: 80px auto;
}

.btn {
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Georgia;
  color: black;
  font-weight: bold;
  font-size: 18px;
  background: #ffffff;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}



.btn:hover {
  background: #D8D8D8;
  text-decoration: none;
}

  a{
    color: #ac3a3a ;
    text-decoration: none;
    margin: 10px 10px;
  }



  .copyright{
    font-size: 0.85rem;
    color: rgb(63, 38, 38);
    padding: 20px 0px;
  }