<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Signika&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Kalam&family=Signika&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Dashboard result</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>
<body bgcolor="#f1befa">
{% block messages %}
        {% if messages %}
            <div class="bio">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}
    {% endblock %}
<div class="middle">

  <canvas id="charttwo" width="200px" height="200px"></canvas>

</div>



<script>


  const ctxdgh = document.getElementById('charttwo');
  new Chart(ctxdgh, {
    type: 'doughnut',
    data: {
      labels: {{labels|safe}},
      datasets: [{
        label: 'Energy in (kcal)',
        data: {{dataset|safe}},
        backgroundColor: [
      'rgb(255, 99, 132)',
      'rgb(54, 162, 235)',
      'rgb(255, 205, 86)',
      'rgb(232, 121, 93)',

    ],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });


</script>

</div>
<hr>


<div class="middle">
    <h2>Cart Summary</h2>
    <p class="bio">Your cart is healthy!<br>
    I am CalCart, your shopping partner! designed to help you shop healthily.<br><br>
    You can scan your products using the QR scanner attached to my handle and I will display your products nutrient content
    <br><br>It is my priority to encourage you to fill your cart with nutrient dense calorie sparse food products.<br><br>
    With my user-friendly interface and intuitive design I make it easy for you to stick to your grocery list.
    By visualizing the nutrient profile of your cart I will enhance your shopping experience!
        <br><br>Get ready to fill your cart!</p>
</div>

</body>
</html>